@import "tailwindcss";

body {
    background: #5f9982;
    background: radial-gradient(circle,rgba(95, 153, 130, 1) 0%, rgba(75, 62, 102, 1) 90%);
    color: #eee;
    min-height: calc(100vh - 30px);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.trivia-list {
    margin: 0 auto;
}

.trivia-list-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.trivia-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.trivia-list-item-key {
    text-align: center;
    vertical-align: middle;
}

.trivia-list-item.selected {
    opacity: 0.3;
}

.view-item {

}

.view-item-button {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.view-item-image {
    
}